<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets.plist
   FindMySong

   Created by henrique.cisi on 05/06/25.
    
   Para fins de avaliação, as credenciais estão hardcoded
-->
<plist version="1.0">
    <dict>
        <key>SPOTIFY_CLIENT_ID</key>
        <string>e2fc8bf189174ef196832cf74c1126a8</string>
        <key>SPOTIFY_CLIENT_SECRET</key>
        <string>f9223ab6998f4b3497c96e02d8bc2f90</string>
    </dict>
</plist>
